{% extends "base.html" %}

{% block body_class %}about-background{% endblock %}

{% block title %}Jake's Story - JBK Search Corporation{% endblock %}

{% block content %}
<div class="container story-container" style="padding-top: 125px;">
    <!-- Top Section: Photo and Employee Details -->
    <div class="row mb-5">
        <!-- Left column for the image -->
        <div class="col-md-4">
            <img src="../static/img/nashcircle.png" class="img-fluid rounded-circle" alt="Employee Photo">
        </div>

        <!-- Right column for the details -->
        <div class="about-bio col-md-8 d-flex flex-column justify-content-center">
            <h2 class="mb-1">Nashville "Nash" Ababa</h2>
            <h4 class="text-muted mb-3">Recruiter</h4>
            <p class="mb-2"><a href="tel:317-245-8085" class="lead"><i class="bi bi-telephone mr-5"> </i>Office:
                    317-245-8085</a></p>
            <!-- <p class="mb-2"><a href="tel:317-513-4188" class="lead"><i class="bi bi-phone"></i> Cell: 317-513-4188</a>
            </p> -->

            <p class="mb-2"><a href="mailto:nash@jbksearch.com" class="lead"><i class="bi bi-envelope"></i>
                    nash@jbksearch.com</a></p>



            <p class="mb-2"><a href="https://www.linkedin.com/in/nashville-kim-khrizea-ababa-40a7512a7/" class="lead"
                    target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></p>
        </div>
    </div>

    <!-- Full bio section -->
    <div>
        <p class="lead">Nash excels in her role as Recruiter at JBK Search. Her natural talent for connecting with
            candidates allows her to intuitively know which companies they would best fit. Nash’s talents help her
            candidates achieve their career goals.
            Nash clearly understands what her clients are looking for in terms of skills and culture fit,, and she
            considers this when interviewing candidates.
        </p>

        <p class="lead">Nash’s strengths are being an active listener, communication, adaptability, problem solving, and
            organization.
        </p>
        <p class="lead">Nash graduated <span class="fw-bold">Magna Cum Laude</span> with a <span class="fw-bold">BS in
                Psychology</span>.</p>


        <p class="lead">Outside of work Nash is committed to community engagement by participating in organizations that
            foster collaboration, personal growth, and leadership.</p>
        <p class="lead">#NoRest​</p>

    </div>
</div>


{% endblock %}